body{background-color: brown;
}
.gid{color: white; text-align: center; background-color: aqua;
}
.link{background-color: white; text-align: center; width: 25%; border-radius: 10px; Border: 2px, solid, black
}
img{width: 33,33%;
}
button{background-color: black; border-radius: 15PX; color: white; width: 120px;
}
.div{background-color: Beige; 
}
.w{width: 45%;

}



























